* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* hauteur minimum du html et du body de 100% */
/* html, body {
    height: 100%;
} */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ECBB73;
    /* position relative sur le body pour pouvoir fixer le footer en bas de page */
    /* position: relative; */
}

/* contenu des pages avec une hauteur minimum de 100% */
/* .content {
    min-height: 100%;
} */



/* Barre de navigation */
.navbar {
    padding: 20px;
    width: 100vw;
    background-color: #3A3026;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    margin: 0px 10px;
}

/* Couleur de fond au survol des boutons du menu */
.navbar a:hover {
    background-color: burlywood;
    padding: 10px;
}

/* .navbar .nav-links ul {
    display: flex;
    margin: 0px 10px;
}

.navbar .nav-links ul li {
    margin: 0px 10px;
} */



/* Footer */
footer {
    /* position absolute pour fixer le footer en bas de page */
    /* position: absolute; */
    /* bottom: 0; left: 0; right: 0; */
    padding: 20px;
    width: 100vw;
    background-color: #3A3026;
    display: flex;
    justify-content: space-between;
    color: white;
}

footer a {
    color: white;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
}

footer ul li {
    margin: 0px 10px;
}



/* Page d'accueil */
.bg-image {
    /* min-height: 100%; */
    height: 100vh;
    width: 100vw;
    background-image: url('../images/tlouwallpaper.jpg');
    background-size: cover;
    opacity: 85%;
}

.bg-image h1 {
    font-size: 50px;
    color: white;
    text-align: center;
    /* text-shadow: horizontal, vertical, flou(blur), couleur */
    text-shadow: 0px 5px 5px #000000;
    padding: 20px 0px;
}

.bg-image p {
    color: white;
    text-align: center;
    text-shadow: 0px 5px 5px #000000;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 15px;
}

.bg-image .accueil {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

.bg-image .accueil p {
    font-size: 20px;
}

.bg-image .accueil img {
    width: 200px;
}



/* Page de Naughty Dog */
.ng {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 300px;
    margin-right: 300px;
}

.story {
    font-size: 20px;
    text-align: justify;
    margin-top: 50px;
}

.ng img {
    width: 50%;
    display: block;
    margin: auto;
}



/* titres et paragraphes des pages avec le même style */
.title {
    margin: 30px 0px;
    text-align: center;
    font-size: 40px;
}

.para {
    margin: 0px 400px;
    margin-bottom: 50px;
    text-align: justify;
}



/* Page jeux */




/* Page personnages */




/* Page bande desinnée */




/* Page série */




/* Page connexion */
.form-connexion {
    display: flex;
    justify-content: center;
    margin: 50px 700px;
    padding: 30px 0px;
    font-size: 20px;
    background-color: white;
    border-radius: 30px;
}

.form-connexion .rep {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.form-connexion label {
    padding-right: 10px;
}

.form-connexion .btn {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.form-connexion .btn input {
    background-color: #ECBB73;
    padding: 10px;
    font-weight: bold;
    border-color: lightgray;
}



/* Page inscription */
.form-inscription {
    display: flex;
    justify-content: center;
    margin: 50px 600px;
    padding: 30px 0px;
    font-size: 20px;
    background-color: white;
    border-radius: 30px;
}

.form-inscription .rep {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.form-inscription label {
    padding-right: 15px;
}

.form-inscription .btn {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.form-inscription .btn input {
    background-color: #ECBB73;
    padding: 10px;
    font-weight: bold;
    border-color: lightgray;
}



/* Page contact */
.form-contact {
    display: flex;
    justify-content: center;
    margin: 50px 680px;
    padding: 30px;
    font-size: 20px;
    background-color: white;
    border-radius: 30px;
}

.form-contact span {
    color: red;
}

/* Div des réponses fournies par l'utilisateur */
.form-contact .rep {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* Div de la checkbox */
.accepte {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* Label de la checkbox */
.autorise {
    font-size: 11px;
    padding: 0px 10px;
    text-align: justify;
}

/* Bouton envoyer */
.form-contact .btn {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.form-contact .btn input {
    background-color: #ECBB73;
    padding: 10px;
    font-weight: bold;
    border-color: lightgray;
}

/* Dernier paragraphe du formulaire */
.soumettre {
    font-size: 11px;
    padding: 0px 10px;
    margin: 0px 30px;
    text-align: justify;
    font-style: italic;
}