body{
    margin: 50px 100px;
}

img{
    width: 300px;
    
}

h1{
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h2{
    color: lightblue;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: lighter;
}

p{
    color: darkgoldenrod;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: lightblue;
    padding: 20px;
}