* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 50px 200px;
}

main {
    background-color: lightblue;
    margin: 0 auto;
    padding: 30px;
}

.block1 {
    display: flex;
    justify-content: space-between;
    height: 200px;
}

.orange1 {
    background-color: orange;
    width: 48%;
}

.grey {
    background-color: gray;
    width: 48%;
}




.block2 {
    background-color: yellow;
    height: 200px;
}




.block3 {
    display: flex;
    justify-content: space-between;
    height: 200px;
}

.orange2 {
    background-color: orange;
    flex-basis: 20%;
}

.orange3 {
    background-color: orange;
    flex-basis: 20%;
}

.orange4 {
    background-color: orange;
    flex-basis: 20%;
}

.orange5 {
    background-color: orange;
    flex-basis: 20%;
}




.block4 {
    display: flex;
    height: 200px;
    justify-content: space-between;
}

.yellow1 {
    background-color: yellow;
    flex-basis: 40%;
}

.yellow2 {
    background-color: yellow;
    flex-basis: 40%;
}




.block5 {
    background-color: green;
    height: 200px;
    padding: 10px;
}