* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 100px;
}

main {
    background-color: lightblue;
    margin: 0 auto;
    padding: 20px;
}

.item1 {
    background-color: orange;
    height: 100px;
}

.item6 {
    background-color: green;
    height: 100px;
}

.container1 {
    display: flex;
    flex-wrap: wrap;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.item2 {
    background-color: grey;
    height: 500px;
    width: 200px;
}

.item3 {
    background-color: yellow;
    height: 25%;
}

.item4 {
    background-color: blue;
    height: 25%;
}

.item5 {
    background-color: lightgreen;
    height: 25%;
}