body {
    background-image: url(img/sfmp.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    /* align items center et height 100vh permettent de centrer le contenu au centre de la page */
    align-items: center;
    height: 100vh;
}

#globale {
    background-color: rgb(79, 229, 255);
    padding: 50px;
}