* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body {
  background-color: #efe784;
}

main {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  width: 800px;
}

.contenant {
  position: relative;
}

.head1 {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.head2 {
  position: absolute;
  z-index: 2;
  left: 240px;
  top: 70px;
  width: 40%;
}

.text {
  position: absolute;
  z-index: 2;
  color: #efe784;
  font-weight: lighter;
  font-size: 15px;
  letter-spacing: 20px;
  left: 270px;
  top: 180px;

}

#intro {
  background-color: #3e3838;
  color: #efe784;
  padding: 300px 100px 50px 100px;
}

#intro h2 {
  display: inline-block;
  margin-left: 36%;
  font-size: 18px;
  letter-spacing: 15px;
  border-top: 1px solid #efe784;
  border-bottom: 1px solid #efe784;
  padding: 5px 0px 5px 15px;
}

h2 {
  font-size: 30px;
  font-weight: lighter;
}

p {
  line-height: 20px;
}

#avengers {
  background-color: white;
  padding: 40px 100px;
}

#avengers h2 {
  color: #6cbcb3;
}

#avengers span {
  color: #6cbcb3;
}

#star {
  background-color: #6cbcb3;
  color: #414544;
  padding: 40px 100px;
}

#star span {
  color: white;
}

#woman {
  background-color: #3e3838;
  color: white;
  padding: 40px 100px;
}

.legende {
  font-size: 12px;
}

.imgdoc {
  width: 100%;
}

#footer {
  background-color: black;
  padding: 30px 0px 20px 50px;
  color: white;
  font-size: 12px;
}

#footer img {
  width: 15%; 
}

#footer span {
  color: #efe784;
}





/* -------------- responsive tablette -------------- */

@media screen and (max-width: 748px){
  main {
    width: 700px;
  }

  .head2 {
    left: 200px;
    top: 60px;
  }

.text {
  left: 215px;
  top: 140px;
}

#intro {
  padding: 250px 60px 20px 50px;
}

#intro h2 {
  margin-left: 220px;
}

#avengers, #star, #woman {
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 55px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 16px;
  line-height: 25px;
}

.legende {
  line-height: 16px;
}

#footer p {
  font-size: 12px;
  line-height: 16px;
}

#footer img {
  width: 120px;
}

.imgdoc {
  width: 600px;
}
}



/* -------------- responsive mobile -------------- */

@media screen and (max-width: 360px) {
  .contenant {
    width: 400px;
  }

  .head2 {
    left: 100px;
    top: 35px;
  }

  .text {
    left: 110px;
    top: 80px;
    font-size: 10px;
    letter-spacing: 10px;
  }

  #intro {
    padding: 150px 0px 10px 20px;
  }

  #intro h2 {
    margin-left: 85px;
    font-size: 18px;
  }

  #avengers, #star, #woman {
    padding-left: 20px;
  }

  h2 {
    font-size: 25px;
  }

  p {
    width: 310px;
    font-size: 16px;
    line-height: 25px;
  }

  .legende {
    font-size: 10px;
    line-height: 15px;
  }

  #footer {
    padding: 15px;
  }

  #footer img {
    width: 15%;
  }

  #footer p {
    font-size: 10px;
    line-height: 15px;
  }

  .imgdoc {
    width: 320px;
  }
}