* {
    box-sizing: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #948E99;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2E1437, #948E99);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2E1437, #948E99);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jeu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 20px 10px white;
    background-color: rgba(255, 255, 255, 0.1);
}

.jeu button {
    height: 120px;
    width: 120px;
    margin: 20px;
    background-color: white;
    border: 2px solid black;
    box-shadow: 0 0 10px 5px white;
}