* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Page d'accueil */
.bg-image {
    height: 100vh;
    width: 100vw;
    background-image: url('../images/tlouwallpaper.jpg');
    background-size: cover;
    opacity: 90%;
}

.bg-image h1 {
    font-size: 50px;
    color: white;
    text-align: center;
    /* text-shadow: horizontal, vertical, flou(blur), couleur */
    text-shadow: 0px 5px 5px #000000;
    padding: 20px 0px;
}

.bg-image p {
    color: white;
    text-align: center;
    text-shadow: 0px 5px 5px #000000;
    font-size: 25px;
    margin-top: 50px;
}

/* Barre de navigation */
.navbar {
    padding: 20px;
    width: 100vw;
    background-color: #3A3026;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
}

.navbar .nav-links ul {
    display: flex;
    margin: 0px 10px;
}

.navbar .nav-links ul li {
    margin: 0px 10px;
}

/* .navbar .ul .bouton {
    margin: 0 30px;
} */

/* Footer */
footer {
    padding: 20px;
    width: 100vw;
    background-color: #3A3026;
    display: flex;
    justify-content: space-between;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
}